{% set page_title = "gatlin" %}

{% extends "layout.html" %}

{% block css %}
<style>
    #main-editor{

        margin:0 auto;
        width:600px;

    }
    .editor-body{

    }
    #editor{
        width:600px;
        height:120px;
        overflow-y:visible;
        resize: none;
        box-sizing: border-box;
    }
    .editor-footer{
        float:right;
        margin-left: auto;
        margin-top :10px;
        padding :0px;
        border:0px;
    }
    #button-submit{
        margin－right :0px;
        padding-right :5px;
        padding-left: 5px;
   }
</style>
{% endblock %}

{% block content %}

<div id="main-editor" ng-controller="PostStatusController">
<div class="editor-body">
<textarea id="editor" ng-model="editorText"></textarea>
</div>
<div class="editor-footer">
    <button type="submit" id="button-submit" class="pure-button pure-button-primary" ng-click="postStatus()">发表</button>
</div>
</div>


<div id="feeds" ng-controller="FeedsController">
</div>

{% endblock %}

{% block javascript %}
<script>
var gatlin = angular.module('gatlin', [])

gatlin.controller('PostStatusController', function($scope, $http) {
     $scope.postStatus = function() {
        $http.post("/network/status/",{"status":$scope.editorText}).success(function(){
            $scope.editorText = ""
        })
     }
})

gatlin.controller("FeedsController",function($scope,$http){
    $http.get("/network/statuses").success(function(){
        console.log("success")
    })
})




</script>

{% endblock %}
