{% set page_title = "gatlin" %}

{% extends "layout.html" %}

{% block css %}
<style>
    #main-editor{

        margin:0 auto;
        width:600px;

    }
    .editor-body{

    }
    #editor{
        width:600px;
        height:120px;
        overflow-y:visible;
        resize: none;
        box-sizing: border-box;
    }
    .editor-footer{
        float:right;
        margin-left: auto;
        margin-top :10px;
        padding :0px;
        border:0px;
    }
    #button-submit{
        margin－right :0px;
        padding-right :5px;
        padding-left: 5px;
   }
   #feeds{
        margin-top:50px;
   }
</style>
{% endblock %}

{% block content %}
<div  ng-controller="PostStatusController">
    <div id="main-editor">
        <div class="editor-body">
            <textarea id="editor" ng-model="editorText"></textarea>
        </div>
        <div class="editor-footer">
            <button type="submit" id="button-submit" class="pure-button pure-button-primary" ng-click="postStatus()">发表</button>
        </div>

    </div>

    <div id="feeds">
        {{test}}
        {% for feed in feeds %}
           <li> ${feed.attr("status")} </li>
        {% endfor %}
        </ul>
    </div>
  
</div>

{% endblock %}

{% block javascript %}
<script>
var gatlin = angular.module('gatlin', [])

gatlin.controller('PostStatusController', function($scope, $http,$window) {
     $scope.items = []

     $scope.postStatus = function() {
        $http.post("/network/status/",{"status":$scope.editorText}).success(function(data,status,headers,config){
            $scope.editorText = ""
            $window.location.href = "/"
        })
     }

})





</script>

{% endblock %}
