<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
        {% block title %}

        {% endblock %}
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="written by kula">
        <meta name="author" content="kula">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="{{ url_for('static',filename='css/pure-min.css') }}">
        <style>
            .home-menu.pure-menu-open {
                background: #2d3e50;
            }

            .home-menu a {
                color: #6FBEF3;
            }

            .home-menu .pure-menu-selected a {
                color: white;
            }

            .home-menu li a:hover,
            .home-menu li a:focus {
                background: none;
                border: none;
                color: #AECFE5;
            }

        </style>

        {% block css %}
        {% endblock %}
    </head>

    <body>
        {% block navigation %}
        <div id="header" class="header">
            <div class="home-menu pure-menu pure-menu-open pure-menu-horizontal pure-menu-fixed">
                <a class="pure-menu-heading" href="">Gatlin</a>
                
                <ul>
                    <li>
                        <form class="pure-form">
                            <input type="text" class="pure-input-rounded" placeholder="搜索 内容/用户">
                        </form>
                    </li>
                    <li><a href="#">Tour</a></li>
                    <li class="pure-menu-selected"><a href="#">Sign Up</a></li>
                </ul>
            </div>
        </div> 
        {% endblock %}


            <div class="container">
                {% block messages %}
                {% endblock %}

                {% block content %}
                {% endblock %}
            </div> <!-- /container -->

            {% block footer %}
            <div id="footer">
                <div class="container">
                    <p class="text-muted credit pull-left">powered by <a href="http://flask.pocoo.org">Flask</a></p>
                    <p class="text-muted credit pull-right">&copy; 2013 - <a href="http://flaskbb.org">FlaskBB.org</a></p>
                </div>
            </div>
            {% endblock %}

        {% block javascript %}
        <script src="{{ url_for('static',filename='js/angular.min.js') }}">
        {% endblock %}

        {% block scripts %}
        {% endblock %}
    </body>
</html>
